In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
def csv_to_parquet(csv_path, save_name):
    df = pd.read_csv(csv_path)
    df.to_parquet(f'./{save_name}.parquet')
    del df
    gc.collect()
    print(save_name, 'Done.')

In [3]:
path = 'train.csv'
jeju_traffic = pd.read_csv(path)
jeju_traffic

,id,base_date,day_of_week,base_hour,road_in_use,lane_count,road_rating,road_name,multi_linked,connect_code,...,road_type,start_node_name,start_latitude,start_longitude,start_turn_restricted,end_node_name,end_latitude,end_longitude,end_turn_restricted,target
0,TRAIN_0000000,20220623,목,17,0,1,106,지방도1112호선,0,0,...,3,제3교래교,33.427747,126.662612,없음,제3교래교,33.427749,126.662335,없음,52.0
1,TRAIN_0000001,20220728,목,21,0,2,103,일반국도11호선,0,0,...,0,광양사거리,33.500730,126.529107,있음,KAL사거리,33.504811,126.526240,없음,30.0
2,TRAIN_0000002,20211010,일,7,0,2,103,일반국도16호선,0,0,...,0,창고천교,33.279145,126.368598,없음,상창육교,33.280072,126.362147,없음,61.0
3,TRAIN_0000003,20220311,금,13,0,2,107,태평로,0,0,...,0,남양리조트,33.246081,126.567204,없음,서현주택,33.245565,126.566228,없음,20.0
4,TRAIN_0000004,20211005,화,8,0,2,103,일반국도12호선,0,0,...,0,애월샷시,33.462214,126.326551,없음,애월입구,33.462677,126.330152,없음,38.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4701212,TRAIN_4701212,20211104,목,16,0,1,107,-,0,0,...,0,대림사거리,33.422145,126.278125,없음,금덕해운,33.420955,126.273750,없음,20.0
4701213,TRAIN_4701213,20220331,목,2,0,2,107,-,0,0,...,3,광삼교,33.472505,126.424368,없음,광삼교,33.472525,126.424890,없음,65.0
4701214,TRAIN_4701214,20220613,월,22,0,2,103,일반국도12호선,0,0,...,0,고성교차로,33.447183,126.912579,없음,성산교차로,33.444121,126.912948,없음,30.0
4701215,TRAIN_4701215,20211020,수,2,0,2,103,일반국도95호선,0,0,...,0,제6광령교,33.443596,126.431817,없음,관광대학입구,33.444996,126.433332,없음,73.0
4701216,TRAIN_4701216,20211019,화,6,0,2,107,경찰로,0,0,...,0,서귀포경찰서,33.256785,126.508940,없음,시민공원,33.257130,126.510364,없음,35.0

In [4]:
# filt = df['수학'] < 80 
# df[filt]
# df.drop(index = df[filt].index)

In [5]:
temp = jeju_traffic.loc[jeju_traffic['target']==113].index
temp

Int64Index([3841974, 4386692], dtype='int64')

In [6]:
jeju_traffic.drop(index = temp, inplace = True)
jeju_traffic= jeju_traffic.reset_index(drop = True)
jeju_traffic

,id,base_date,day_of_week,base_hour,road_in_use,lane_count,road_rating,road_name,multi_linked,connect_code,...,road_type,start_node_name,start_latitude,start_longitude,start_turn_restricted,end_node_name,end_latitude,end_longitude,end_turn_restricted,target
0,TRAIN_0000000,20220623,목,17,0,1,106,지방도1112호선,0,0,...,3,제3교래교,33.427747,126.662612,없음,제3교래교,33.427749,126.662335,없음,52.0
1,TRAIN_0000001,20220728,목,21,0,2,103,일반국도11호선,0,0,...,0,광양사거리,33.500730,126.529107,있음,KAL사거리,33.504811,126.526240,없음,30.0
2,TRAIN_0000002,20211010,일,7,0,2,103,일반국도16호선,0,0,...,0,창고천교,33.279145,126.368598,없음,상창육교,33.280072,126.362147,없음,61.0
3,TRAIN_0000003,20220311,금,13,0,2,107,태평로,0,0,...,0,남양리조트,33.246081,126.567204,없음,서현주택,33.245565,126.566228,없음,20.0
4,TRAIN_0000004,20211005,화,8,0,2,103,일반국도12호선,0,0,...,0,애월샷시,33.462214,126.326551,없음,애월입구,33.462677,126.330152,없음,38.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4701210,TRAIN_4701212,20211104,목,16,0,1,107,-,0,0,...,0,대림사거리,33.422145,126.278125,없음,금덕해운,33.420955,126.273750,없음,20.0
4701211,TRAIN_4701213,20220331,목,2,0,2,107,-,0,0,...,3,광삼교,33.472505,126.424368,없음,광삼교,33.472525,126.424890,없음,65.0
4701212,TRAIN_4701214,20220613,월,22,0,2,103,일반국도12호선,0,0,...,0,고성교차로,33.447183,126.912579,없음,성산교차로,33.444121,126.912948,없음,30.0
4701213,TRAIN_4701215,20211020,수,2,0,2,103,일반국도95호선,0,0,...,0,제6광령교,33.443596,126.431817,없음,관광대학입구,33.444996,126.433332,없음,73.0
4701214,TRAIN_4701216,20211019,화,6,0,2,107,경찰로,0,0,...,0,서귀포경찰서,33.256785,126.508940,없음,시민공원,33.257130,126.510364,없음,35.0

In [7]:
print(jeju_traffic['base_date'].min())
print(jeju_traffic['base_date'].max())

20210901
20220731

In [8]:
jeju_traffic1 = jeju_traffic.copy()

In [9]:
# 날짜 데이터 나누기

def date_function(row):
    result = str(row)
    return result[:4] + '-' + result[4:6] + '-' + result[6:]
    

jeju_traffic1['base_date(date_time)'] = jeju_traffic1['base_date'].apply(date_function)
jeju_traffic1

,id,base_date,day_of_week,base_hour,road_in_use,lane_count,road_rating,road_name,multi_linked,connect_code,...,start_node_name,start_latitude,start_longitude,start_turn_restricted,end_node_name,end_latitude,end_longitude,end_turn_restricted,target,base_date(date_time)
0,TRAIN_0000000,20220623,목,17,0,1,106,지방도1112호선,0,0,...,제3교래교,33.427747,126.662612,없음,제3교래교,33.427749,126.662335,없음,52.0,2022-06-23
1,TRAIN_0000001,20220728,목,21,0,2,103,일반국도11호선,0,0,...,광양사거리,33.500730,126.529107,있음,KAL사거리,33.504811,126.526240,없음,30.0,2022-07-28
2,TRAIN_0000002,20211010,일,7,0,2,103,일반국도16호선,0,0,...,창고천교,33.279145,126.368598,없음,상창육교,33.280072,126.362147,없음,61.0,2021-10-10
3,TRAIN_0000003,20220311,금,13,0,2,107,태평로,0,0,...,남양리조트,33.246081,126.567204,없음,서현주택,33.245565,126.566228,없음,20.0,2022-03-11
4,TRAIN_0000004,20211005,화,8,0,2,103,일반국도12호선,0,0,...,애월샷시,33.462214,126.326551,없음,애월입구,33.462677,126.330152,없음,38.0,2021-10-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4701210,TRAIN_4701212,20211104,목,16,0,1,107,-,0,0,...,대림사거리,33.422145,126.278125,없음,금덕해운,33.420955,126.273750,없음,20.0,2021-11-04
4701211,TRAIN_4701213,20220331,목,2,0,2,107,-,0,0,...,광삼교,33.472505,126.424368,없음,광삼교,33.472525,126.424890,없음,65.0,2022-03-31
4701212,TRAIN_4701214,20220613,월,22,0,2,103,일반국도12호선,0,0,...,고성교차로,33.447183,126.912579,없음,성산교차로,33.444121,126.912948,없음,30.0,2022-06-13
4701213,TRAIN_4701215,20211020,수,2,0,2,103,일반국도95호선,0,0,...,제6광령교,33.443596,126.431817,없음,관광대학입구,33.444996,126.433332,없음,73.0,2021-10-20
4701214,TRAIN_4701216,20211019,화,6,0,2,107,경찰로,0,0,...,서귀포경찰서,33.256785,126.508940,없음,시민공원,33.257130,126.510364,없음,35.0,2021-10-19

In [10]:

jeju_traffic1['month'] = pd.to_datetime(jeju_traffic1['base_date(date_time)']).dt.month

# jeju_traffic1

In [11]:
tmp = jeju_traffic1.groupby('month', as_index = False)['target'].mean()

jeju_traffic1['성수기'] = 0

jeju_traffic1.loc[jeju_traffic1['month'] == 7 , '성수기'] = 1
jeju_traffic1

,id,base_date,day_of_week,base_hour,road_in_use,lane_count,road_rating,road_name,multi_linked,connect_code,...,start_longitude,start_turn_restricted,end_node_name,end_latitude,end_longitude,end_turn_restricted,target,base_date(date_time),month,성수기
0,TRAIN_0000000,20220623,목,17,0,1,106,지방도1112호선,0,0,...,126.662612,없음,제3교래교,33.427749,126.662335,없음,52.0,2022-06-23,6,0
1,TRAIN_0000001,20220728,목,21,0,2,103,일반국도11호선,0,0,...,126.529107,있음,KAL사거리,33.504811,126.526240,없음,30.0,2022-07-28,7,1
2,TRAIN_0000002,20211010,일,7,0,2,103,일반국도16호선,0,0,...,126.368598,없음,상창육교,33.280072,126.362147,없음,61.0,2021-10-10,10,0
3,TRAIN_0000003,20220311,금,13,0,2,107,태평로,0,0,...,126.567204,없음,서현주택,33.245565,126.566228,없음,20.0,2022-03-11,3,0
4,TRAIN_0000004,20211005,화,8,0,2,103,일반국도12호선,0,0,...,126.326551,없음,애월입구,33.462677,126.330152,없음,38.0,2021-10-05,10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4701210,TRAIN_4701212,20211104,목,16,0,1,107,-,0,0,...,126.278125,없음,금덕해운,33.420955,126.273750,없음,20.0,2021-11-04,11,0
4701211,TRAIN_4701213,20220331,목,2,0,2,107,-,0,0,...,126.424368,없음,광삼교,33.472525,126.424890,없음,65.0,2022-03-31,3,0
4701212,TRAIN_4701214,20220613,월,22,0,2,103,일반국도12호선,0,0,...,126.912579,없음,성산교차로,33.444121,126.912948,없음,30.0,2022-06-13,6,0
4701213,TRAIN_4701215,20211020,수,2,0,2,103,일반국도95호선,0,0,...,126.431817,없음,관광대학입구,33.444996,126.433332,없음,73.0,2021-10-20,10,0
4701214,TRAIN_4701216,20211019,화,6,0,2,107,경찰로,0,0,...,126.508940,없음,시민공원,33.257130,126.510364,없음,35.0,2021-10-19,10,0

In [12]:
tmp = pd.DataFrame(jeju_traffic1.loc[jeju_traffic1['multi_linked'] == 1, 'multi_linked'])
tmp
# jeju_traffic1 = jeju_traffic1.drop()
# df.drop(index = df[filt].index)
jeju_traffic1.drop(index = tmp.index, inplace = True)
jeju_traffic1

,id,base_date,day_of_week,base_hour,road_in_use,lane_count,road_rating,road_name,multi_linked,connect_code,...,start_longitude,start_turn_restricted,end_node_name,end_latitude,end_longitude,end_turn_restricted,target,base_date(date_time),month,성수기
0,TRAIN_0000000,20220623,목,17,0,1,106,지방도1112호선,0,0,...,126.662612,없음,제3교래교,33.427749,126.662335,없음,52.0,2022-06-23,6,0
1,TRAIN_0000001,20220728,목,21,0,2,103,일반국도11호선,0,0,...,126.529107,있음,KAL사거리,33.504811,126.526240,없음,30.0,2022-07-28,7,1
2,TRAIN_0000002,20211010,일,7,0,2,103,일반국도16호선,0,0,...,126.368598,없음,상창육교,33.280072,126.362147,없음,61.0,2021-10-10,10,0
3,TRAIN_0000003,20220311,금,13,0,2,107,태평로,0,0,...,126.567204,없음,서현주택,33.245565,126.566228,없음,20.0,2022-03-11,3,0
4,TRAIN_0000004,20211005,화,8,0,2,103,일반국도12호선,0,0,...,126.326551,없음,애월입구,33.462677,126.330152,없음,38.0,2021-10-05,10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4701210,TRAIN_4701212,20211104,목,16,0,1,107,-,0,0,...,126.278125,없음,금덕해운,33.420955,126.273750,없음,20.0,2021-11-04,11,0
4701211,TRAIN_4701213,20220331,목,2,0,2,107,-,0,0,...,126.424368,없음,광삼교,33.472525,126.424890,없음,65.0,2022-03-31,3,0
4701212,TRAIN_4701214,20220613,월,22,0,2,103,일반국도12호선,0,0,...,126.912579,없음,성산교차로,33.444121,126.912948,없음,30.0,2022-06-13,6,0
4701213,TRAIN_4701215,20211020,수,2,0,2,103,일반국도95호선,0,0,...,126.431817,없음,관광대학입구,33.444996,126.433332,없음,73.0,2021-10-20,10,0
4701214,TRAIN_4701216,20211019,화,6,0,2,107,경찰로,0,0,...,126.508940,없음,시민공원,33.257130,126.510364,없음,35.0,2021-10-19,10,0

In [13]:
jeju_traffic1.reset_index(drop = True, inplace = True)
jeju_traffic1

,id,base_date,day_of_week,base_hour,road_in_use,lane_count,road_rating,road_name,multi_linked,connect_code,...,start_longitude,start_turn_restricted,end_node_name,end_latitude,end_longitude,end_turn_restricted,target,base_date(date_time),month,성수기
0,TRAIN_0000000,20220623,목,17,0,1,106,지방도1112호선,0,0,...,126.662612,없음,제3교래교,33.427749,126.662335,없음,52.0,2022-06-23,6,0
1,TRAIN_0000001,20220728,목,21,0,2,103,일반국도11호선,0,0,...,126.529107,있음,KAL사거리,33.504811,126.526240,없음,30.0,2022-07-28,7,1
2,TRAIN_0000002,20211010,일,7,0,2,103,일반국도16호선,0,0,...,126.368598,없음,상창육교,33.280072,126.362147,없음,61.0,2021-10-10,10,0
3,TRAIN_0000003,20220311,금,13,0,2,107,태평로,0,0,...,126.567204,없음,서현주택,33.245565,126.566228,없음,20.0,2022-03-11,3,0
4,TRAIN_0000004,20211005,화,8,0,2,103,일반국도12호선,0,0,...,126.326551,없음,애월입구,33.462677,126.330152,없음,38.0,2021-10-05,10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4698971,TRAIN_4701212,20211104,목,16,0,1,107,-,0,0,...,126.278125,없음,금덕해운,33.420955,126.273750,없음,20.0,2021-11-04,11,0
4698972,TRAIN_4701213,20220331,목,2,0,2,107,-,0,0,...,126.424368,없음,광삼교,33.472525,126.424890,없음,65.0,2022-03-31,3,0
4698973,TRAIN_4701214,20220613,월,22,0,2,103,일반국도12호선,0,0,...,126.912579,없음,성산교차로,33.444121,126.912948,없음,30.0,2022-06-13,6,0
4698974,TRAIN_4701215,20211020,수,2,0,2,103,일반국도95호선,0,0,...,126.431817,없음,관광대학입구,33.444996,126.433332,없음,73.0,2021-10-20,10,0
4698975,TRAIN_4701216,20211019,화,6,0,2,107,경찰로,0,0,...,126.508940,없음,시민공원,33.257130,126.510364,없음,35.0,2021-10-19,10,0

In [14]:
#test

path = 'test.csv'
test = pd.read_csv(path)
test

,id,base_date,day_of_week,base_hour,lane_count,road_rating,road_name,multi_linked,connect_code,maximum_speed_limit,...,height_restricted,road_type,start_node_name,start_latitude,start_longitude,start_turn_restricted,end_node_name,end_latitude,end_longitude,end_turn_restricted
0,TEST_000000,20220825,목,17,3,107,연삼로,0,0,70.0,...,0.0,0,산지2교,33.499427,126.541298,없음,제주은행사거리,33.500772,126.543837,있음
1,TEST_000001,20220809,화,12,2,103,일반국도12호선,0,0,70.0,...,0.0,3,중문입구,33.258507,126.427003,없음,관광단지입구,33.258119,126.415840,없음
2,TEST_000002,20220805,금,2,1,103,일반국도16호선,0,0,60.0,...,0.0,0,도순3교,33.258960,126.476508,없음,도순2교,33.259206,126.474687,없음
3,TEST_000003,20220818,목,23,3,103,일반국도11호선,0,0,70.0,...,0.0,0,아라주공아파트,33.473494,126.545647,없음,인다마을,33.471061,126.545467,없음
4,TEST_000004,20220810,수,17,3,106,번영로,0,0,70.0,...,0.0,0,부록교 시종점,33.501477,126.569223,없음,봉개교 시종점,33.496863,126.581230,없음
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291236,TEST_291236,20220827,토,5,1,103,일반국도16호선,0,0,80.0,...,0.0,0,월산마을,33.472819,126.463030,없음,도근교,33.470483,126.460846,없음
291237,TEST_291237,20220819,금,20,2,103,일반국도11호선,0,0,60.0,...,0.0,0,영주교,33.305359,126.598914,없음,하례입구삼거리,33.300796,126.600332,없음
291238,TEST_291238,20220805,금,11,1,107,신대로,0,0,30.0,...,0.0,0,마리나사거리,33.493624,126.496769,있음,칠오광장사거리,33.497500,126.496946,있음
291239,TEST_291239,20220812,금,7,2,107,경찰로,0,0,60.0,...,0.0,0,국민의료보험관리공단,33.254782,126.507014,없음,의료보험조합,33.255659,126.507333,없음
291240,TEST_291240,20220812,금,10,3,106,지방도1132호선,0,0,70.0,...,0.0,0,수모루교차로,33.246996,126.524358,없음,수모루,33.247053,126.523503,없음

In [15]:
# 날짜 데이터 나누기

def date_function(row):
    result = str(row)
    return result[:4] + '-' + result[4:6] + '-' + result[6:]

test['성수기'] = test['base_date'].apply(date_function)

In [16]:
test['month'] = pd.to_datetime(test['성수기']).dt.month
test

,id,base_date,day_of_week,base_hour,lane_count,road_rating,road_name,multi_linked,connect_code,maximum_speed_limit,...,start_node_name,start_latitude,start_longitude,start_turn_restricted,end_node_name,end_latitude,end_longitude,end_turn_restricted,성수기,month
0,TEST_000000,20220825,목,17,3,107,연삼로,0,0,70.0,...,산지2교,33.499427,126.541298,없음,제주은행사거리,33.500772,126.543837,있음,2022-08-25,8
1,TEST_000001,20220809,화,12,2,103,일반국도12호선,0,0,70.0,...,중문입구,33.258507,126.427003,없음,관광단지입구,33.258119,126.415840,없음,2022-08-09,8
2,TEST_000002,20220805,금,2,1,103,일반국도16호선,0,0,60.0,...,도순3교,33.258960,126.476508,없음,도순2교,33.259206,126.474687,없음,2022-08-05,8
3,TEST_000003,20220818,목,23,3,103,일반국도11호선,0,0,70.0,...,아라주공아파트,33.473494,126.545647,없음,인다마을,33.471061,126.545467,없음,2022-08-18,8
4,TEST_000004,20220810,수,17,3,106,번영로,0,0,70.0,...,부록교 시종점,33.501477,126.569223,없음,봉개교 시종점,33.496863,126.581230,없음,2022-08-10,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291236,TEST_291236,20220827,토,5,1,103,일반국도16호선,0,0,80.0,...,월산마을,33.472819,126.463030,없음,도근교,33.470483,126.460846,없음,2022-08-27,8
291237,TEST_291237,20220819,금,20,2,103,일반국도11호선,0,0,60.0,...,영주교,33.305359,126.598914,없음,하례입구삼거리,33.300796,126.600332,없음,2022-08-19,8
291238,TEST_291238,20220805,금,11,1,107,신대로,0,0,30.0,...,마리나사거리,33.493624,126.496769,있음,칠오광장사거리,33.497500,126.496946,있음,2022-08-05,8
291239,TEST_291239,20220812,금,7,2,107,경찰로,0,0,60.0,...,국민의료보험관리공단,33.254782,126.507014,없음,의료보험조합,33.255659,126.507333,없음,2022-08-12,8
291240,TEST_291240,20220812,금,10,3,106,지방도1132호선,0,0,70.0,...,수모루교차로,33.246996,126.524358,없음,수모루,33.247053,126.523503,없음,2022-08-12,8

In [17]:
test['성수기'] == 0
test.loc[test['month'] == 8 , '성수기'] = 1
test

,id,base_date,day_of_week,base_hour,lane_count,road_rating,road_name,multi_linked,connect_code,maximum_speed_limit,...,start_node_name,start_latitude,start_longitude,start_turn_restricted,end_node_name,end_latitude,end_longitude,end_turn_restricted,성수기,month
0,TEST_000000,20220825,목,17,3,107,연삼로,0,0,70.0,...,산지2교,33.499427,126.541298,없음,제주은행사거리,33.500772,126.543837,있음,1,8
1,TEST_000001,20220809,화,12,2,103,일반국도12호선,0,0,70.0,...,중문입구,33.258507,126.427003,없음,관광단지입구,33.258119,126.415840,없음,1,8
2,TEST_000002,20220805,금,2,1,103,일반국도16호선,0,0,60.0,...,도순3교,33.258960,126.476508,없음,도순2교,33.259206,126.474687,없음,1,8
3,TEST_000003,20220818,목,23,3,103,일반국도11호선,0,0,70.0,...,아라주공아파트,33.473494,126.545647,없음,인다마을,33.471061,126.545467,없음,1,8
4,TEST_000004,20220810,수,17,3,106,번영로,0,0,70.0,...,부록교 시종점,33.501477,126.569223,없음,봉개교 시종점,33.496863,126.581230,없음,1,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291236,TEST_291236,20220827,토,5,1,103,일반국도16호선,0,0,80.0,...,월산마을,33.472819,126.463030,없음,도근교,33.470483,126.460846,없음,1,8
291237,TEST_291237,20220819,금,20,2,103,일반국도11호선,0,0,60.0,...,영주교,33.305359,126.598914,없음,하례입구삼거리,33.300796,126.600332,없음,1,8
291238,TEST_291238,20220805,금,11,1,107,신대로,0,0,30.0,...,마리나사거리,33.493624,126.496769,있음,칠오광장사거리,33.497500,126.496946,있음,1,8
291239,TEST_291239,20220812,금,7,2,107,경찰로,0,0,60.0,...,국민의료보험관리공단,33.254782,126.507014,없음,의료보험조합,33.255659,126.507333,없음,1,8
291240,TEST_291240,20220812,금,10,3,106,지방도1132호선,0,0,70.0,...,수모루교차로,33.246996,126.524358,없음,수모루,33.247053,126.523503,없음,1,8

In [18]:
# tmp = pd.DataFrame(test.loc[test['multi_linked'] == 1, 'multi_linked'])
# tmp
# jeju_traffic1 = jeju_traffic1.drop()
# df.drop(index = df[filt].index)
# test.drop(index = tmp.index, inplace = True)
# test

In [19]:
path = '전국렌터카업체정보표준데이터.csv'
car = pd.read_csv(path, encoding = 'cp949')
car.head()

,업체명,사업장구분,소재지도로명주소,소재지지번주소,위도,경도,차고지도로명주소,차고지지번주소,보유차고지수용능력,자동차총보유대수,...,주말운영종료시각,공휴일운영시작시각,공휴일운영종료시각,휴무일,홈페이지주소,대표자명,전화번호,데이터기준일자,제공기관코드,제공기관명
0,㈜디디렌트카,주사업장,서울특별시 노원구 동일로250길 69(상계동),NaN,37.682856,127.059089,"서울특별시 노원구 상계동 1227, 1229, 1230",NaN,NaN,60,...,NaN,NaN,NaN,NaN,NaN,NaN,02-937-9963,2022-08-17,3100000,서울특별시 노원구
1,인천공항렌트카㈜,주사업장,서울특별시 노원구 동일로 178길 10 201호(공릉동),NaN,37.621287,127.075141,서울특별시 양천구 목동서로 225,NaN,NaN,66,...,NaN,NaN,NaN,NaN,NaN,NaN,02-1599-2924,2022-08-17,3100000,서울특별시 노원구
2,(주)한지렌터카,영업소,경상북도 영덕군 영덕읍 영덕로 273,경상북도 영덕군 영덕읍 화수리 669-5,36.418672,129.373201,경상북도 영덕군 영덕읍 영덕로 273,경상북도 영덕군 영덕읍 화수리 669-5,NaN,6,...,18:30,09:00,18:00,NaN,NaN,김지윤,054-734-3666,2021-09-15,5180000,경상북도 영덕군
3,(주)새한글로벌렌터카,영업소,경상북도 영덕군 영덕읍 영덕로 163,경상북도 영덕군 영덕읍 우곡리 217,36.409014,129.374910,경상북도 영덕군 강구면 하저길 139,경상북도 영덕군 강구면 하저리 705-10,NaN,14,...,23:00,09:00,23:00,NaN,NaN,경진호,054-734-3666,2021-09-15,5180000,경상북도 영덕군
4,(주)진해군항렌터카,영업소,경상북도 영덕군 영덕읍 서원길 27-1,경상북도 영덕군 영덕읍 우곡리 401-7,36.405374,129.376321,경상북도 영덕군 강구면 동해대로 4404-4,경상북도 영덕군 강구면 삼사리 71-1,NaN,3,...,19:00,10:00,21:00,NaN,NaN,성복수,054-730-6255,2021-09-15,5180000,경상북도 영덕군

In [20]:
path = '전국렌터카업체정보표준데이터.csv'
car = pd.read_csv(path, encoding = 'cp949')
car.head()


car = car.loc[car['제공기관명'] == '제주특별자치도']
car = car[['자동차총보유대수']].reset_index(drop = True)
jeju_traffic1 = pd.concat([jeju_traffic1, car], join = 'outer', axis = 1 )

jeju_traffic_mean = jeju_traffic1['자동차총보유대수'].mean()
jeju_traffic1['자동차총보유대수'].fillna(jeju_traffic_mean, inplace = True)

In [21]:
car.shape

(113, 1)

In [22]:
car.isna().sum()

자동차총보유대수    0
dtype: int64

In [23]:
car = car[['자동차총보유대수']].reset_index(drop = True)

In [24]:
car

     자동차총보유대수
0         100
1         100
2         105
3         335
4         100
..        ...
108       100
109       294
110       108
111       173
112       227

[113 rows x 1 columns]

In [25]:
jeju_traffic1 = pd.concat([jeju_traffic1, car], join = 'outer', axis = 1 )
jeju_traffic1.head(15)

,id,base_date,day_of_week,base_hour,road_in_use,lane_count,road_rating,road_name,multi_linked,connect_code,...,end_node_name,end_latitude,end_longitude,end_turn_restricted,target,base_date(date_time),month,성수기,자동차총보유대수,자동차총보유대수
0,TRAIN_0000000,20220623,목,17,0,1,106,지방도1112호선,0,0,...,제3교래교,33.427749,126.662335,없음,52.0,2022-06-23,6,0,100.0,100.0
1,TRAIN_0000001,20220728,목,21,0,2,103,일반국도11호선,0,0,...,KAL사거리,33.504811,126.526240,없음,30.0,2022-07-28,7,1,100.0,100.0
2,TRAIN_0000002,20211010,일,7,0,2,103,일반국도16호선,0,0,...,상창육교,33.280072,126.362147,없음,61.0,2021-10-10,10,0,105.0,105.0
3,TRAIN_0000003,20220311,금,13,0,2,107,태평로,0,0,...,서현주택,33.245565,126.566228,없음,20.0,2022-03-11,3,0,335.0,335.0
4,TRAIN_0000004,20211005,화,8,0,2,103,일반국도12호선,0,0,...,애월입구,33.462677,126.330152,없음,38.0,2021-10-05,10,0,100.0,100.0
5,TRAIN_0000005,20210913,월,7,0,2,107,경찰로,0,0,...,서호2차현대맨션203동,33.252183,126.506069,없음,28.0,2021-09-13,9,0,202.0,202.0
6,TRAIN_0000006,20220106,목,0,0,2,107,-,0,0,...,나동,33.414175,126.269378,없음,39.0,2022-01-06,1,0,141.0,141.0
7,TRAIN_0000007,20211213,월,16,0,2,107,외도천교,0,0,...,외도천교,33.482332,126.442266,없음,28.0,2021-12-13,12,0,2395.0,2395.0
8,TRAIN_0000008,20211004,월,15,0,2,107,경찰로,0,0,...,서호2차현대맨션203동,33.252183,126.506069,없음,14.0,2021-10-04,10,0,135.0,135.0
9,TRAIN_0000009,20211208,수,2,0,1,103,일반국도16호선,0,0,...,제2가시교,33.364336,126.769409,없음,52.0,2021-12-08,12,0,2947.0,2947.0
10,TRAIN_0000010,20220623,목,11,0,1,103,일반국도99호선,0,0,...,노루생이삼거리,33.422672,126.492935,없음,47.0,2022-06-23,6,0,100.0,100.0
11,TRAIN_0000011,20220724,일,2,0,1,107,중정로,0,0,...,정방수퍼,33.248633,126.567766,없음,40.0,2022-07-24,7,1,620.0,620.0
12,TRAIN_0000012,20211229,수,10,0,3,106,번영로,0,0,...,버으내교차로,33.480053,126.625486,있음,60.0,2021-12-29,12,0,184.0,184.0
13,TRAIN_0000013,20220507,토,7,0,2,103,일반국도16호선,0,0,...,서흥동사무소,33.263685,126.550978,없음,28.0,2022-05-07,5,0,170.0,170.0
14,TRAIN_0000014,20220203,목,16,0,1,107,-,0,0,...,송목교,33.317065,126.623867,없음,58.0,2022-02-03,2,0,414.0,414.0

In [26]:
jeju_traffic_mean = jeju_traffic1['자동차총보유대수'].mean()
jeju_traffic_mean

자동차총보유대수    263.761062
자동차총보유대수    263.761062
dtype: float64

In [27]:
jeju_traffic1['자동차총보유대수'].fillna(jeju_traffic_mean, inplace = True)
jeju_traffic1

,id,base_date,day_of_week,base_hour,road_in_use,lane_count,road_rating,road_name,multi_linked,connect_code,...,end_node_name,end_latitude,end_longitude,end_turn_restricted,target,base_date(date_time),month,성수기,자동차총보유대수,자동차총보유대수
0,TRAIN_0000000,20220623,목,17,0,1,106,지방도1112호선,0,0,...,제3교래교,33.427749,126.662335,없음,52.0,2022-06-23,6,0,100.000000,100.0
1,TRAIN_0000001,20220728,목,21,0,2,103,일반국도11호선,0,0,...,KAL사거리,33.504811,126.526240,없음,30.0,2022-07-28,7,1,100.000000,100.0
2,TRAIN_0000002,20211010,일,7,0,2,103,일반국도16호선,0,0,...,상창육교,33.280072,126.362147,없음,61.0,2021-10-10,10,0,105.000000,105.0
3,TRAIN_0000003,20220311,금,13,0,2,107,태평로,0,0,...,서현주택,33.245565,126.566228,없음,20.0,2022-03-11,3,0,335.000000,335.0
4,TRAIN_0000004,20211005,화,8,0,2,103,일반국도12호선,0,0,...,애월입구,33.462677,126.330152,없음,38.0,2021-10-05,10,0,100.000000,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4698971,TRAIN_4701212,20211104,목,16,0,1,107,-,0,0,...,금덕해운,33.420955,126.273750,없음,20.0,2021-11-04,11,0,263.761062,NaN
4698972,TRAIN_4701213,20220331,목,2,0,2,107,-,0,0,...,광삼교,33.472525,126.424890,없음,65.0,2022-03-31,3,0,263.761062,NaN
4698973,TRAIN_4701214,20220613,월,22,0,2,103,일반국도12호선,0,0,...,성산교차로,33.444121,126.912948,없음,30.0,2022-06-13,6,0,263.761062,NaN
4698974,TRAIN_4701215,20211020,수,2,0,2,103,일반국도95호선,0,0,...,관광대학입구,33.444996,126.433332,없음,73.0,2021-10-20,10,0,263.761062,NaN
4698975,TRAIN_4701216,20211019,화,6,0,2,107,경찰로,0,0,...,시민공원,33.257130,126.510364,없음,35.0,2021-10-19,10,0,263.761062,NaN

In [28]:
del_c = ['id','base_date','road_name', 'start_node_name', 'end_node_name','vehicle_restricted','base_date(date_time)','month']

jeju_traffic1 = jeju_traffic1.drop(columns = del_c , axis = 1)
jeju_traffic1

,day_of_week,base_hour,road_in_use,lane_count,road_rating,multi_linked,connect_code,maximum_speed_limit,weight_restricted,height_restricted,...,start_latitude,start_longitude,start_turn_restricted,end_latitude,end_longitude,end_turn_restricted,target,성수기,자동차총보유대수,자동차총보유대수
0,목,17,0,1,106,0,0,60.0,32400.0,0.0,...,33.427747,126.662612,없음,33.427749,126.662335,없음,52.0,0,100.000000,100.0
1,목,21,0,2,103,0,0,60.0,0.0,0.0,...,33.500730,126.529107,있음,33.504811,126.526240,없음,30.0,1,100.000000,100.0
2,일,7,0,2,103,0,0,80.0,0.0,0.0,...,33.279145,126.368598,없음,33.280072,126.362147,없음,61.0,0,105.000000,105.0
3,금,13,0,2,107,0,0,50.0,0.0,0.0,...,33.246081,126.567204,없음,33.245565,126.566228,없음,20.0,0,335.000000,335.0
4,화,8,0,2,103,0,0,80.0,0.0,0.0,...,33.462214,126.326551,없음,33.462677,126.330152,없음,38.0,0,100.000000,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4698971,목,16,0,1,107,0,0,50.0,0.0,0.0,...,33.422145,126.278125,없음,33.420955,126.273750,없음,20.0,0,263.761062,NaN
4698972,목,2,0,2,107,0,0,80.0,43200.0,0.0,...,33.472505,126.424368,없음,33.472525,126.424890,없음,65.0,0,263.761062,NaN
4698973,월,22,0,2,103,0,0,60.0,0.0,0.0,...,33.447183,126.912579,없음,33.444121,126.912948,없음,30.0,0,263.761062,NaN
4698974,수,2,0,2,103,0,0,80.0,0.0,0.0,...,33.443596,126.431817,없음,33.444996,126.433332,없음,73.0,0,263.761062,NaN
4698975,화,6,0,2,107,0,0,60.0,0.0,0.0,...,33.256785,126.508940,없음,33.257130,126.510364,없음,35.0,0,263.761062,NaN

In [29]:
del_c = ['id','base_date','road_name', 'start_node_name', 'end_node_name','vehicle_restricted', 'month']
test = test.drop(columns = del_c, axis = 1)
test.head()

,day_of_week,base_hour,lane_count,road_rating,multi_linked,connect_code,maximum_speed_limit,weight_restricted,height_restricted,road_type,start_latitude,start_longitude,start_turn_restricted,end_latitude,end_longitude,end_turn_restricted,성수기
0,목,17,3,107,0,0,70.0,0.0,0.0,0,33.499427,126.541298,없음,33.500772,126.543837,있음,1
1,화,12,2,103,0,0,70.0,0.0,0.0,3,33.258507,126.427003,없음,33.258119,126.415840,없음,1
2,금,2,1,103,0,0,60.0,0.0,0.0,0,33.258960,126.476508,없음,33.259206,126.474687,없음,1
3,목,23,3,103,0,0,70.0,0.0,0.0,0,33.473494,126.545647,없음,33.471061,126.545467,없음,1
4,수,17,3,106,0,0,70.0,0.0,0.0,0,33.501477,126.569223,없음,33.496863,126.581230,없음,1

In [34]:
test = pd.concat([test, car], join = 'outer', axis = 1 )
test

,day_of_week,base_hour,lane_count,road_rating,multi_linked,connect_code,maximum_speed_limit,weight_restricted,height_restricted,road_type,start_latitude,start_longitude,start_turn_restricted,end_latitude,end_longitude,end_turn_restricted,성수기,자동차총보유대수
0,목,17,3,107,0,0,70.0,0.0,0.0,0,33.499427,126.541298,없음,33.500772,126.543837,있음,1,100.0
1,화,12,2,103,0,0,70.0,0.0,0.0,3,33.258507,126.427003,없음,33.258119,126.415840,없음,1,100.0
2,금,2,1,103,0,0,60.0,0.0,0.0,0,33.258960,126.476508,없음,33.259206,126.474687,없음,1,105.0
3,목,23,3,103,0,0,70.0,0.0,0.0,0,33.473494,126.545647,없음,33.471061,126.545467,없음,1,335.0
4,수,17,3,106,0,0,70.0,0.0,0.0,0,33.501477,126.569223,없음,33.496863,126.581230,없음,1,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291236,토,5,1,103,0,0,80.0,0.0,0.0,0,33.472819,126.463030,없음,33.470483,126.460846,없음,1,NaN
291237,금,20,2,103,0,0,60.0,0.0,0.0,0,33.305359,126.598914,없음,33.300796,126.600332,없음,1,NaN
291238,금,11,1,107,0,0,30.0,0.0,0.0,0,33.493624,126.496769,있음,33.497500,126.496946,있음,1,NaN
291239,금,7,2,107,0,0,60.0,0.0,0.0,0,33.254782,126.507014,없음,33.255659,126.507333,없음,1,NaN
291240,금,10,3,106,0,0,70.0,0.0,0.0,0,33.246996,126.524358,없음,33.247053,126.523503,없음,1,NaN

In [36]:
test.reset_index(drop =  True, inplace= True)
test

,day_of_week,base_hour,lane_count,road_rating,multi_linked,connect_code,maximum_speed_limit,weight_restricted,height_restricted,road_type,start_latitude,start_longitude,start_turn_restricted,end_latitude,end_longitude,end_turn_restricted,성수기,자동차총보유대수
0,목,17,3,107,0,0,70.0,0.0,0.0,0,33.499427,126.541298,없음,33.500772,126.543837,있음,1,100.0
1,화,12,2,103,0,0,70.0,0.0,0.0,3,33.258507,126.427003,없음,33.258119,126.415840,없음,1,100.0
2,금,2,1,103,0,0,60.0,0.0,0.0,0,33.258960,126.476508,없음,33.259206,126.474687,없음,1,105.0
3,목,23,3,103,0,0,70.0,0.0,0.0,0,33.473494,126.545647,없음,33.471061,126.545467,없음,1,335.0
4,수,17,3,106,0,0,70.0,0.0,0.0,0,33.501477,126.569223,없음,33.496863,126.581230,없음,1,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291236,토,5,1,103,0,0,80.0,0.0,0.0,0,33.472819,126.463030,없음,33.470483,126.460846,없음,1,NaN
291237,금,20,2,103,0,0,60.0,0.0,0.0,0,33.305359,126.598914,없음,33.300796,126.600332,없음,1,NaN
291238,금,11,1,107,0,0,30.0,0.0,0.0,0,33.493624,126.496769,있음,33.497500,126.496946,있음,1,NaN
291239,금,7,2,107,0,0,60.0,0.0,0.0,0,33.254782,126.507014,없음,33.255659,126.507333,없음,1,NaN
291240,금,10,3,106,0,0,70.0,0.0,0.0,0,33.246996,126.524358,없음,33.247053,126.523503,없음,1,NaN

In [38]:
jeju_traffic_mean = test['자동차총보유대수'].mean()
test['자동차총보유대수'].fillna(jeju_traffic_mean, inplace = True)
test

,day_of_week,base_hour,lane_count,road_rating,multi_linked,connect_code,maximum_speed_limit,weight_restricted,height_restricted,road_type,start_latitude,start_longitude,start_turn_restricted,end_latitude,end_longitude,end_turn_restricted,성수기,자동차총보유대수
0,목,17,3,107,0,0,70.0,0.0,0.0,0,33.499427,126.541298,없음,33.500772,126.543837,있음,1,100.000000
1,화,12,2,103,0,0,70.0,0.0,0.0,3,33.258507,126.427003,없음,33.258119,126.415840,없음,1,100.000000
2,금,2,1,103,0,0,60.0,0.0,0.0,0,33.258960,126.476508,없음,33.259206,126.474687,없음,1,105.000000
3,목,23,3,103,0,0,70.0,0.0,0.0,0,33.473494,126.545647,없음,33.471061,126.545467,없음,1,335.000000
4,수,17,3,106,0,0,70.0,0.0,0.0,0,33.501477,126.569223,없음,33.496863,126.581230,없음,1,100.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291236,토,5,1,103,0,0,80.0,0.0,0.0,0,33.472819,126.463030,없음,33.470483,126.460846,없음,1,263.761062
291237,금,20,2,103,0,0,60.0,0.0,0.0,0,33.305359,126.598914,없음,33.300796,126.600332,없음,1,263.761062
291238,금,11,1,107,0,0,30.0,0.0,0.0,0,33.493624,126.496769,있음,33.497500,126.496946,있음,1,263.761062
291239,금,7,2,107,0,0,60.0,0.0,0.0,0,33.254782,126.507014,없음,33.255659,126.507333,없음,1,263.761062
291240,금,10,3,106,0,0,70.0,0.0,0.0,0,33.246996,126.524358,없음,33.247053,126.523503,없음,1,263.761062

In [39]:
## laeb

from sklearn.preprocessing import LabelEncoder

str_col = ['day_of_week','start_turn_restricted','end_turn_restricted','성수기']
for i in str_col:
    le = LabelEncoder()
    le=le.fit(jeju_traffic1[i])
    jeju_traffic1[i]=le.transform(jeju_traffic1[i])
    
    for label in np.unique(test[i]):
        if label not in le.classes_: 
            le.classes_ = np.append(le.classes_, label)
    test[i]=le.transform(test[i])

<ipython-input-39-42e05b5adf09>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jeju_traffic1[i]=le.transform(jeju_traffic1[i])

In [40]:
jeju_traffic1

,day_of_week,base_hour,road_in_use,lane_count,road_rating,multi_linked,connect_code,maximum_speed_limit,weight_restricted,height_restricted,...,start_latitude,start_longitude,start_turn_restricted,end_latitude,end_longitude,end_turn_restricted,target,성수기,자동차총보유대수,자동차총보유대수
0,1,17,0,1,106,0,0,60.0,32400.0,0.0,...,33.427747,126.662612,0,33.427749,126.662335,0,52.0,0,100.000000,100.0
1,1,21,0,2,103,0,0,60.0,0.0,0.0,...,33.500730,126.529107,1,33.504811,126.526240,0,30.0,1,100.000000,100.0
2,4,7,0,2,103,0,0,80.0,0.0,0.0,...,33.279145,126.368598,0,33.280072,126.362147,0,61.0,0,105.000000,105.0
3,0,13,0,2,107,0,0,50.0,0.0,0.0,...,33.246081,126.567204,0,33.245565,126.566228,0,20.0,0,335.000000,335.0
4,6,8,0,2,103,0,0,80.0,0.0,0.0,...,33.462214,126.326551,0,33.462677,126.330152,0,38.0,0,100.000000,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4698971,1,16,0,1,107,0,0,50.0,0.0,0.0,...,33.422145,126.278125,0,33.420955,126.273750,0,20.0,0,263.761062,NaN
4698972,1,2,0,2,107,0,0,80.0,43200.0,0.0,...,33.472505,126.424368,0,33.472525,126.424890,0,65.0,0,263.761062,NaN
4698973,3,22,0,2,103,0,0,60.0,0.0,0.0,...,33.447183,126.912579,0,33.444121,126.912948,0,30.0,0,263.761062,NaN
4698974,2,2,0,2,103,0,0,80.0,0.0,0.0,...,33.443596,126.431817,0,33.444996,126.433332,0,73.0,0,263.761062,NaN
4698975,6,6,0,2,107,0,0,60.0,0.0,0.0,...,33.256785,126.508940,0,33.257130,126.510364,0,35.0,0,263.761062,NaN

In [41]:
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import VotingRegressor
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor

In [42]:
# x ,y 로 나누기 

target = 'target'

x = jeju_traffic1.drop(target, axis = 1)
y = jeju_traffic1[target]

In [43]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.3)

In [44]:
print(x_train.shape)
print(x_test.shape)

(3289283, 20)
(1409693, 20)

In [41]:
model_xgb = XGBRegressor(random_state = 42)
model_light = LGBMRegressor(random_state = 42)
model_voting = VotingRegressor(estimators=[('light', model_light), ('xgb', model_xgb)])

In [ ]:
#보팅
model_voting.fit(x_train, y_train)

y_pred = model_voting.predict(test)

In [ ]:
#LIGHTGBM 
model_light.fit(x_train, y_train)

y_pred_light = model_light.predict(test)

In [42]:
model_xgb.fit(x_train, y_train)

y_pred_xgb = model_xgb.predict(test)

sample_submission = pd.read_csv('sample_submission.csv')
sample_submission['target'] = y_pred_xgb
sample_submission.to_csv('xgb1.csv', index = False)

In [ ]:
sample_submission

In [ ]:
sample_submission = pd.read_csv('sample_submission.csv')
sample_submission

In [ ]:
sample_submission['target'] = y_pred
sample_submission

In [ ]:
sample_submission.to_csv('voting.csv', index = False)

In [34]:
sample_submission = pd.read_csv('sample_submission.csv')
sample_submission['target'] = y_pred_light
sample_submission
sample_submission.to_csv('light_regressor.csv')

                 id     target
0       TEST_000000  27.278014
1       TEST_000001  43.697730
2       TEST_000002  59.563810
3       TEST_000003  36.205646
4       TEST_000004  37.487270
...             ...        ...
291236  TEST_291236  48.066928
291237  TEST_291237  53.020958
291238  TEST_291238  21.428031
291239  TEST_291239  26.906003
291240  TEST_291240  40.688768

[291241 rows x 2 columns]

In [ ]:
print(pred)

In [23]:
print(x.shape)
print(y.shape)

(4701217, 18)
(4701217,)

In [43]:
model_DT = DecisionTreeRegressor(random_state=42)

cv_score = cross_val_score(model_DT, x_train, y_train, cv = 5)

print(cv_score)
print(cv_score.mean())

[0.89684304 0.89754231 0.89768524 0.89769453 0.89738163]
0.8974293520407437

In [44]:
model_DT = DecisionTreeRegressor(random_state=42)

model_DT.fit(x_train, y_train)

y_pred_DT = model_DT.predict(test)

In [45]:
sample_submission = pd.read_csv('sample_submission.csv')
sample_submission

                 id  target
0       TEST_000000       0
1       TEST_000001       0
2       TEST_000002       0
3       TEST_000003       0
4       TEST_000004       0
...             ...     ...
291236  TEST_291236       0
291237  TEST_291237       0
291238  TEST_291238       0
291239  TEST_291239       0
291240  TEST_291240       0

[291241 rows x 2 columns]

In [48]:
sample_submission[target] = y_pred_DT
sample_submission.to_csv('Decision_Tree.csv')

In [23]:
x_train , x_test, y_train, y_test = train_test_split(x,y,test_size=0.3)